.page { display: none; }
.page.active { display: block; }

body.not-authenticated .role-logged-in { display: none; }
body.authenticated .role-logged-out { display: none; }

.role-admin { display: none; }
body.is-admin .role-admin { display: block; }

.page.active {
    animation: fadeIn 0.15s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(6px); }
    to   { opacity: 1; transform: translateY(0); }
}